{% extends "base.html" %}

{% block content %}

  <form method="post" action="{{ url_for('contact_us') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
      {{ form.name.label(class="form-control-label") }}
      {{ form.name(class="form-control") }}
      </div>
      <div class="form-group">
      {{ form.email.label(class="form-control-label") }}
      {{ form.email(class="form-control") }}
      </div>
      <div class="form-group">
      {{ form.body.label(class="form-control-label") }}
      {{ form.body(class="form-control", rows="5") }}
      </div>
      {{ form.submit }}
  </form>

{% endblock %}